body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: #201d1d;
    font-family: Cambria, "Times New Roman", serif;
    font-size: 100%;
    color: white;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #1a1a1a;
}

.menu a {
    float: left;
    display: block;
    padding: 1.5625% 2%;
    color: white;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

a.logo {
    float: right;
}

.menu a:hover {
    background: #111;
    color: red;
}

.main {
    position: absolute;
    z-index: 1;
    width: auto;
    margin-top: 5.5%;
    overflow: hidden;
    text-align: center;
}

.right-bg {
    position: absolute;
    background-position: 57%;
    z-index: 2;
    top: 0;
    right: 0;
    height: 25%;
    max-height: 42.7%;
    width: 15%;
    margin-bottom: auto;
    background-image: url("https://i.pinimg.com/originals/8b/e3/a3/8be3a3c410c4f6373c4cd1974b592fed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.right-bg:hover {
    opacity: 0.45;
}

.left-bg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 25%;
    max-height: 42.7%;
    width: 15%;
    margin-bottom: auto;
    background-image: url("https://static3.bigstockphoto.com/0/9/1/large1500/190563625.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.left-bg:hover {
    opacity: 0.45;
}

.image-intro {
    position: relative;
    min-width: 10%;
    width: 50%;
    max-width: 80%;
    max-height: 42.7%;
    margin-bottom: 25px;
    opacity: 0.7;
}

.image-intro:hover {
    opacity: 0.45;
}

h1, h2, h3, h4 {
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

.description {
    position: relative;
    max-width: 70%;
    margin-left: 17%;
    text-align: left;
    font-size: 115%;
    font-weight: initial;
    letter-spacing: 1px;
    line-height: 150%;
}

.updates {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 5%;
    overflow: auto;
    text-align: left;
    font-size: 125%;
    line-height: 150%;
}

.updates iframe {
    position: relative;
    float: left;
    margin-left: 2.5%;
}

.covid-container {
    position: relative;
    width: auto;
    margin: 5% 5% 5% 10%;
    overflow: auto;
    text-align: left;
    font-size: 125%;
    line-height: 150%;
}

.covid-container img {
    position: relative;
    float: right;
    width: 35%;
    height: 25%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    overflow: auto;
    border: 2px black;
    opacity: 0.7;
}

.covid-container img:hover {
    opacity: 0.45;
}

.lien-textuel {
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

.lien-textuel-mail {
    text-decoration: none;
    color: yellow;
    font-weight: bolder;
}

iframe {
    position: relative;
    height: 400px;
    width: 550px;
    margin-bottom: 5%;
    margin-right: 5%;
    border: none;
}

footer {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0c0c;
}

footer li {
    position: inherit;
    display: block;
    float: left;
    padding: 1.5625% 3%;
    list-style-type: none;
    text-align: center;
    color: white;
    font-weight: bolder;
}

footer a {
    text-decoration: none;
    color: blue;
}